body{
    height: 100%;
    margin: 0;
    background-color: rgb(10, 90, 90);
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    
    header{
        display: grid;
        grid-template-areas: "img titulo buscador botones";
        grid-template-columns: 0.5fr 2fr 3fr 2fr;
        background-color: aquamarine;
        justify-items: center;
        img{
            align-self: center;
            width: 3.5em;
        }
        h1{
            justify-self: start;
            align-self: center;
            font-size: 1.5rem;
            font-family: "Special Gothic Condensed One", sans-serif;
        }
        .buscador{
            align-self: center;
            border: #11d63c solid 4px;
            border-radius: 4px;
            
        }
        .input{
            justify-self: stretch;
            width: 20vw;
            height: 2.5vh;

        }
        .botones{
            display: flex;
            gap: 10%;
            align-self: center;
            font-size: 1.5rem;

        }
        .div_botones a{
            text-decoration: none;
            color: palevioletred;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        .div_botones a:hover{
            color: crimson;
            background-color: burlywood;
            border-radius: 5px;

        }
    }
    .videos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*justify-items: center;*/
        padding-bottom: 5vh;
    }
    .video{
        justify-items: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        color: aliceblue;
        font-size: 1.4em;
    }


    footer{
        background-color: rgb(149, 228, 228);
        .redes{
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-top: 5px;
            margin-bottom: 5px;


        }
        .redes-item{
            justify-items: center;
        }
        .redes-item i{
            font-size: 2rem;
            font-weight: bold;
        }
        .redes-item p{
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            font-weight: bold;
        }

        .copyright{
            justify-self: center;
            color: rgb(57, 124, 184);
            font-size: smaller;
        }
    }    

    }
